In [3]:
import numpy as np
import pandas as pd

In [4]:
np.random.seed(123)
n_sample=1000;
class_0_ratio=0.9
n_class_0=int(n_sample*class_0_ratio)
n_class_1=n_sample-n_class_0

In [7]:
n_class_0,n_class_1

(900, 100)

In [13]:
class_0=pd.DataFrame(
{
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1=pd.DataFrame(
{
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

# making two dfs

In [82]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)  # kind of joining bith dataframes

In [83]:
df.head()

   feature_1  feature_2  target
0   0.903401   1.607473       0
1  -3.323920  -0.881502       0
2  -0.303530   0.493254       0
3  -0.673801  -0.940265       0
4   0.657508  -1.922466       0

In [84]:
df.target.value_counts()

0    900
1    100
Name: target, dtype: int64

## Upsampling

In [87]:
df_minority=df[df['target']==1]
df_majority=df[df.target==0]

In [88]:
df_majority

     feature_1  feature_2  target
0     0.903401   1.607473       0
1    -3.323920  -0.881502       0
2    -0.303530   0.493254       0
3    -0.673801  -0.940265       0
4     0.657508  -1.922466       0
..         ...        ...     ...
895  -0.185102   0.065122       0
896  -1.231942  -1.744480       0
897  -0.489332   0.235231       0
898  -1.150100  -0.073573       0
899   0.543194   0.915149       0

[900 rows x 3 columns]

In [89]:
df_minority

     feature_1  feature_2  target
900   2.630290   1.581640       1
901   0.640370   3.025129       1
902   2.567418  -0.074004       1
903   2.124707   3.157722       1
904   1.773084   2.971178       1
..         ...        ...     ...
995  -0.066470   1.258200       1
996   1.504131   1.633207       1
997   1.896445   2.214669       1
998   2.066955   0.406275       1
999   3.874157   1.001276       1

[100 rows x 3 columns]

In [27]:
# upsampling perform

from sklearn.utils import resample

In [95]:
df_majority_upsample=resample(df_majority,replace=True,n_samples=len(df_majority))  # umsampling

In [96]:
df_majority_upsample.shape

(900, 3)

In [99]:
df_upsample=pd.concat([df_majority,df_majority_upsample]).reset_index(drop=True)

In [100]:
df_upsample

      feature_1  feature_2  target
0      0.903401   1.607473       0
1     -3.323920  -0.881502       0
2     -0.303530   0.493254       0
3     -0.673801  -0.940265       0
4      0.657508  -1.922466       0
...         ...        ...     ...
1795   1.029802   0.829444       0
1796   0.822596   0.503982       0
1797  -1.171112  -0.163371       0
1798  -1.031787  -0.141252       0
1799  -0.640813  -0.742868       0

[1800 rows x 3 columns]

# Downsampling

In [101]:
class_0=pd.DataFrame(
{
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1=pd.DataFrame(
{
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [102]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [103]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [104]:
df_majority

     feature_1  feature_2  target
0     0.346189  -3.321635       0
1    -0.006446  -1.309682       0
2     1.015211  -0.584511       0
3     0.750747  -0.984335       0
4    -0.609805   0.031565       0
..         ...        ...     ...
895  -0.032108   1.501499       0
896   0.130306  -0.637508       0
897   1.115841   0.508155       0
898  -1.330687  -0.978925       0
899  -0.010788   1.647942       0

[900 rows x 3 columns]

In [105]:
df_minority

     feature_1  feature_2  target
900   3.326606   0.894919       1
901   1.713396   1.914040       1
902   1.518510   1.638123       1
903   2.798424   1.884971       1
904   1.476521   2.451657       1
..         ...        ...     ...
995   2.981562   1.410112       1
996   2.054098   1.910673       1
997   2.511805   1.173638       1
998   1.617674   1.914152       1
999   2.755322   3.417463       1

[100 rows x 3 columns]

In [106]:
df_majority_downsample=resample(df_majority,replace=False,n_samples=len(df_minority),random_state=42)

In [107]:
df_majority_downsample.shape

(100, 3)

In [108]:
pd.concat([df_minority,df_majority_downsample]).reset_index(drop=True)

     feature_1  feature_2  target
0     3.326606   0.894919       1
1     1.713396   1.914040       1
2     1.518510   1.638123       1
3     2.798424   1.884971       1
4     1.476521   2.451657       1
..         ...        ...     ...
195   1.023270   0.526817       0
196  -0.672093  -2.080608       0
197  -0.916829   0.397265       0
198  -0.783952  -0.732862       0
199   1.505990   0.162297       0

[200 rows x 3 columns]